---
layout: default
---

<div class="home">

  <h1 class="page-heading">Exercises</h1>

  <ul class="post-list">
    {% assign exercises = site.exercises | sort: 'number' %}
    {% for post in exercises %}
      {% if site.show_drafts or post.number %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.number %}{{ post.number }}{% else %}D{% endif %}: {{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
