---
layout: default
---

<div class="home">

  <h1 class="page-heading">Exercises</h1>

  <ul class="post-list">
    {% assign exercises = site.exercises | sort: 'number' %}
    
    {% for post in exercises %}
      {% if post.number and post.published != false %}
        {% include index-post.html post=post %}
      {% endif %}
    {% endfor %}
    
    {% if site.show_drafts %}
      <h2>-- Drafts --</h2>
      {% for post in exercises %}
        {% unless post.number and post.published != false %}
          {% include index-post.html post=post %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
