.tl-red {
    color: rgb(222, 75, 55);
}
.tl-yellow {
    color: rgb(250, 226, 15);
}
.tl-green {
    color: rgb(99, 194, 41);
}

.pale.tl-red {
    color: rgb(249, 197, 190);
}

.pale.tl-yellow {
    color: rgb(250, 242, 169);
}

.pale.tl-green {
    color: rgb(199, 224, 183);
}