<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="wrapper">

        <div class="alert">
          <b>Do you need help?</b> Join us at the "Cyberspace", a hackerspace to meet and talk to other people working on their programs and scripts. Every Thursday from 3pm to 6pm in APB/E067! :) <br /><a style="color:#FFFFFF; text-decoration:underline;" href="https://ifsr.de/fsr:news:baellebad_im_cyberspace_und_programmierkurse">Learn more...</a>
          <a href="#" class="close">x</a>
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
