<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="wrapper">

        <div class="alert">
          Feedback for these lessons is very much welcome. I you like or hate something about a lesson let us know, either on <a href="https://github.com/fsr/python-lessons/issues/new">GitHub</a>, via <a href="mailto:felix@ifsr.de">Mail</a> or just tell us in person ;)
          <a href="#" class="close">x</a>
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
