---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {% if page.author %}Author:
        {% if site.data.authors contains page.author %}
          {% if site.data.authors[page.author].homepage %}<a href="{{ site.data.authors[page.author].homepage %}}">{% endif %}
          {% if site.data.authors[page.author].fullname %}{{ site.data.authors[page.author].fullname }}
          {% else %}{{ page.author }}
          {% endif %}
          {% if site.data.authors[page.author].homepage %}</a>{% endif %}
          {% if site.data.authors[page.author].email %}(<a href="mailto:{{ site.data.authors[page.author].email }}">E-Mail</a>)
          {% endif %}
        {% else %}
          {{ page.author }}
        {% endif %}

      {% endif %}
      {% if page.meta %}
        {% if page.author %} •
        {% endif %}
        {{ page.meta }}
      {% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
